.rhaxx {
	width: 300px;
	margin: 0 auto;
	text-align: center;
}

.error {
	width: 450px;
	margin: 0 auto;
	text-align: center;
}
body {
	background-color: lightgrey;
}

.center {
	position: relative;
	top: 10em;
}